extends layout.pug 

block content   
    div.container 
        h1 Create post 

        if error
            p.error Oh seems like you did something wrong.

        if success 
            p.success Post is saved 

        form.form(method='POST' action='/create')
            label Title
            input.input(type='text' name='title')

            label Description 
            textarea.input(type="text" name="description")

            button.btn Create post