extend layout.pug 

block content
    div.container 
        h1 All posts

        each note in noteList  
            div.note-wrapper 
                a.note(href='notes/' + note.id)= note.title
                a.delete(href='#') delete